<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/applicationContext.xml,
			/WEB-INF/spring/applicationContext-dao.xml,
			/WEB-INF/spring/applicationContext-service.xml,
			/WEB-INF/SpringMVC-servlet.xml
		</param-value>
	</context-param>
	
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
		
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
    
    <!-- Securizacion de CRON Y TASK -->
	
 	<security-constraint> 
 	    <web-resource-collection> 
 	    	<web-resource-name>cron</web-resource-name> 
 	        <url-pattern>/cron/cron.do</url-pattern> 
 	    </web-resource-collection> 
 	    <auth-constraint> 
 	        <role-name>admin</role-name> 
 	    </auth-constraint> 
 	</security-constraint> 
	
 	<security-constraint> 
 	    <web-resource-collection> 
 	    	<web-resource-name>task</web-resource-name> 
 	        <url-pattern>/task/comprobarEstacion.do</url-pattern> 
 	    </web-resource-collection> 
 	    <auth-constraint> 
 	        <role-name>admin</role-name> 
 	    </auth-constraint> 
 	</security-constraint> 

</web-app>